<!-- Объявление шаблона base -->
{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Вызов шаблона title -->
        <title>{{template "title" .}} - Snippetbox</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Snippetbox</a></h1>
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <section>
            <!-- Вызов шаблона body -->
            {{template "body" .}}
        </section>
        <!-- Вызов шаблона подвала -->
        {{template "footer" .}}
    </body>
</html>
{{end}}